rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // 1. Permite que o sistema leia o limite de usuários antes do login
    // e permite que um usuário logado atualize o contador
    match /config/{document=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // 2. Permite buscar telefones duplicados antes do login (read)
    // e permite que o usuário crie/edite apenas o seu próprio perfil (write)
    match /users/{userId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // 3. Garante que cada usuário só veja e edite a sua própria coleção de carrinhos
    match /collections/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}